/node_modules
/vendor
/storage/*.key
.env
.git
.gitignore
Dockerfile
/public/hot
/public/storage
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
